<div class="wrapper">
    <nav class="blue">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s3 title-wrapper">
                    <a class="title white-text">{{ fileName }}</a>
                </div>
                <div class="col s9" id="toolbar">
                    <tabs *ngIf="loaded &&
                            extensions != null &&
                            extensions?.length > 0 &&
                            selectedFormat != null"
                        [tabs]="extensions"
                        [(selectedFormat)]="selectedFormat"
                        [(disabledTabs)]="disabledTabs"></tabs>
                </div>
            </div>
        </div>
    </nav>

</div>

<div class="progress light-blue" style="margin:0;" *ngIf="!loaded">
    <div class="indeterminate white"></div>
</div>

<editor [id]="fileId"
        [config] = "configuration"
        [(selectedFormat)]="selectedFormat"
        [language]="languageSettings"
        (fileNameChange)="fileNameChangedEvent($event)"
        (fileExtension)="extensionSelectedEvent($event)"
        [(disabledTabs)]="disabledTabs"></editor>