<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" id="action">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li *ngFor="#operation of operations | remoteOperationsOnly ">
            <span class="op">{{  operation.name }}</span>
            <a class="btn-floating red" (click)="executeOperation($event, operation.id)">
                <i class="material-icons">{{ iconMap[operation.id] }}</i>
            </a>
        </li>
    </ul>
</div>

<div id="executeModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-header"></h4>
        <div class="modal-subheader">
        </div>
        <div class="modal-spinner center">
            <div class="preloader-wrapper small active center">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <p class="modal-body"></p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close btn-flat blue-text">Close</a>
    </div>
</div>