<div class="wrapper">
    <nav class="blue">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s3 title-wrapper">
                    <a class="title white-text">{{ fileName }}</a>
                </div>
                <div class="col s9" id="toolbar">
                    <tabs *ngIf="loaded &&
                            extensions != null &&
                            extensions?.length > 0 &&
                            selectedFormat != null"
                        [tabs]="extensions"
                        [(selectedFormat)]="selectedFormat"
                        [(disabledTabs)]="disabledTabs"></tabs>
                </div>
            </div>
        </div>
    </nav>

    <!--<div class="progress light-blue" style="margin:0;" >-->
    <div class="progress light-blue" style="margin:0; bottom: 4px;" *ngIf="!loaded">
        <div class="indeterminate white"></div>
    </div>
</div>


<editor
    (initModal)='initModal($event)'
    (updateModal)='updateModal($event)'
    [id]="fileId"
    [config] = "configuration"
    [(selectedFormat)]="selectedFormat"
    [language]="languageSettings"
    (fileNameChange)="fileNameChangedEvent($event)"
    (fileExtension)="extensionSelectedEvent($event)"
    [(disabledTabs)]="disabledTabs">
</editor>

<div id="Modal" class="modal">
    <div class="modal-content">
        <h4 class="modal-header"></h4>
        <div class="modal-subheader">
        </div>
        <div class="modal-spinner center">
            <div class="preloader-wrapper small active center">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body"></div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close btn-flat blue-text">Close</a>
    </div>
</div>
